<div>
  <div class="appTile pull-left">
    <a mat-button [routerLink]="['/user/blogs/view']">
      <span class="appTileImg img-polaroid"><mat-icon>library_books</mat-icon></span>
      <span class="appTileTitle">My Articles</span>
    </a>
  </div>
  <div class="appTile pull-left">
    <a mat-button [routerLink]="['/user/agenda/view']">
      <span class="appTileImg img-polaroid"><mat-icon>date_range</mat-icon></span>
      <span class="appTileTitle">My Agenda</span>
    </a>
  </div>
  <div class="appTile pull-left">
    <a mat-button [routerLink]="['/user/files/view']">
      <span class="appTileImg img-polaroid"><mat-icon>folder</mat-icon></span>
      <span class="appTileTitle">My Files</span>
    </a>
  </div>
  <div class="appTile pull-left">
    <a mat-button [routerLink]="['/user/orders/view']">
      <span class="appTileImg img-polaroid"><mat-icon>shopping_cart</mat-icon></span>
      <span class="appTileTitle">My Orders</span>
    </a>
  </div>
  <div class="appTile pull-left">
    <a mat-button [routerLink]="['/user/chats/view']">
      <span class="appTileImg img-polaroid"><mat-icon>forum</mat-icon></span>
      <span class="appTileTitle">My Chats</span>
    </a>
  </div>
  <div class="appTile pull-left">
    <a mat-button [routerLink]="['/user/blogs/view']">
      <span class="appTileImg img-polaroid"><mat-icon>date_range</mat-icon></span>
      <span class="appTileTitle">My Agenda</span>
    </a>
  </div>
  <div class="appTile pull-left">
    <a mat-button [routerLink]="['/user/stickynotes/view']">
      <span class="appTileImg img-polaroid"><mat-icon>note_add</mat-icon></span>
      <span class="appTileTitle">Sticky notes</span>
    </a>
  </div>
</div>
<div class="clear"></div>