<Button text="My Articles" disabled [nRouterLink]="['/user/blogs/view']"></Button>
<Button text="My Agenda" disabled [nRouterLink]="['/user/agenda/view']"></Button>
<Button text="My Files" disabled [nRouterLink]="['/user/files/view']"></Button>
<Button text="My Orders" [nRouterLink]="['/user/orders/view']"></Button>
<Button text="My Chats" disabled [nRouterLink]="['/user/chats/view']"></Button>
<Button text="Sticky notes"[nRouterLink]="['/user/stickynotes/view']"></Button>