.appTile {
  text-align: center;
  margin: 0 22px 22px 0;
  width: 127px;
  height: 127px;
  padding: 5px;
  position: relative;
  box-shadow: 0 7px 26px 
  #ddd;
  overflow: hidden;
  transition: all cubic-bezier(.24, .5, .38, .73) .3s;
}
.appTile a {
  font-size: 11px;
  color: 
  #4d5158;
  line-height: 12px;
  margin-top: 36px;
  display: inline-block;
}
.appTile, .appTileImg {
  display: inline-block;
}
.appTileImg .material-icons {
  font-size: 36px;
}
.appTile .appTileTitle {
  display: block;
  text-align: center;
  padding: 3px;
  margin-bottom: 5px;
}
.appTile:hover {
  box-shadow: 0 11px 31px #b3b3b3;
  transition: all cubic-bezier(.24, .5, .38, .73) .3s;
  transform: scale(1.2)
}

.appTile:hover a {
  color: #2774fb
}

.appTile:hover .appTileImg {
  transform: scale(.8);
  transition: all cubic-bezier(.2, .35, .54, .96) .3s
}

.pull-left {
  float: left;
}