
<StackLayout *ngIf="articles">
  <Label class="h3" [text]="blockTitle" textWrap="true"></Label>
  <StackLayout *ngFor="let article of articles; let i=index">
    <Button text="{{ article.title }}"></Button>
  </StackLayout>
</StackLayout>


<!-- <Button text="it works"></Button>-->
<!-- [nsRouterLink]="['/', team.teamid, 'news', article.id]"  -->

<!-- <Label class="h3" [text]="blockTitle" textWrap="true"></Label>
<Button *ngFor="let article of articles" text="{{ article.title }}" class="btn btn-primary"></Button> -->