<h2>{{ blockTitle }}</h2>


<div *ngIf="error">{{error}}</div>
<div *ngIf="loadingArticles">Loading...</div>
<div *ngIf="articles">
  <div *ngFor="let article of articles; let i=index">
    <ul *ngIf="articleLimit>i">
      <li>
       
        <a [routerLink]="['/', article.category.team_id, 'news', article.id]">{{ article.title }}</a>
        Views: {{ article.view_count }} - Comments: {{ article.comments.length }} - Date: {{ article.date_published | date }} 
      </li>
    </ul>
  </div>
</div>