<TabView #tabview (selectedIndexChanged)="tabIndexChanged($event)" toggleNavButton>
  <StackLayout *tabItem="{title: 'Apps'}">
    <app-dashboard-userapps></app-dashboard-userapps>
  </StackLayout>

  <StackLayout *tabItem="{title: 'Teams'}">
      <app-dashboard-teams></app-dashboard-teams>
  </StackLayout>

  <StackLayout *tabItem="{title: 'Management'}">
    <app-dashboard-management></app-dashboard-management>
  </StackLayout>
</TabView>