<nav mat-tab-nav-bar style="margin-bottom: 20px">
  <a [routerLink]="'/user/dashboard/apps'" routerLinkActive #rl1="routerLinkActive" mat-tab-link [active]="rl1.isActive"> Apps </a>
  <a [routerLink]="'/user/dashboard/teams'" routerLinkActive #rl2="routerLinkActive" mat-tab-link [active]="rl2.isActive"> Teams </a>
  <a [routerLink]="'/user/dashboard/manage'" routerLinkActive #rl3="routerLinkActive" mat-tab-link [active]="rl3.isActive"> Management </a>
</nav>

<router-outlet></router-outlet>