<ScrollView orientation="vertical">
  <StackLayout>
    <Label class="h3" text="My Teams" textWrap="true"></Label>
    <Button *ngFor="let team of myTeams" [nsRouterLink]="['/', team.teamid, 'team']" text="{{ team.name }}" class="btn btn-primary"></Button>

    <Label class="h3" text="All Teams" textWrap="true"></Label>
    <Button *ngFor="let team of allTeams" [nsRouterLink]="['/', team.teamid, 'team']" text="{{ team.name }}" class="btn btn-primary"></Button>
  </StackLayout>
</ScrollView>