<!-- <h4>My teams</h4>
<div *ngIf="loading" class="spinner-border spinner-border-sm">Loading...</div>
<ul *ngIf="myTeams">
    <li *ngFor="let team of myTeams"><a mat-button [routerLink]="['/', team.teamid, 'team']">{{team.name}}</a></li>
</ul>

<h4>All teams</h4>
<div *ngIf="loading" class="spinner-border spinner-border-sm"></div>
<ul *ngIf="allTeams">
    <li *ngFor="let team of allTeams"><a [routerLink]="['/', team.teamid, 'team']">{{team.name}}</a></li>
</ul> -->

<h5>My Teams</h5>
<mat-divider></mat-divider>
<div *ngIf="loadingMyTeams">Loading...</div>
<mat-nav-list *ngIf="myTeams">
  <mat-list-item *ngFor="let team of myTeams">
    <a matLine [routerLink]="['/', team.teamid, 'team']" >
      <mat-icon>group</mat-icon>
      <span class="link-caption">{{ team.name }}</span>
    </a>
  </mat-list-item>
</mat-nav-list>
<h5>All Teams</h5>
<mat-divider></mat-divider>
<div *ngIf="loadingAllTeams">Loading...</div>
<mat-nav-list *ngIf="allTeams">
  <mat-list-item *ngFor="let team of allTeams">
    <a matLine [routerLink]="['/', team.teamid, 'team']" >
      <mat-icon>group</mat-icon>
      <span class="link-caption">{{ team.name }}</span>
    </a>
  </mat-list-item>
</mat-nav-list>