<div class="card mt-4">
  <div class="card-body">
    <p>{{currentUser.full_name}}</p>
    <p>{{currentUser.function}}</p>
  </div>
</div>

<!-- <div class="example-button-row">
  <button mat-raised-button>Basic</button>
  <button mat-raised-button color="primary">Primary</button>
  <button mat-raised-button color="accent">Accent</button>
  <button mat-raised-button color="warn">Warn</button>
  <button mat-raised-button disabled>Disabled</button>
  <a mat-raised-button routerLink=".">Link</a>

</div> -->

<widgets position=1,1></widgets>
