/* button {
  font-size: 15;
}

RadSideDrawer .drawerContentText {
  font-size: 13;
}

RadSideDrawer .drawerContentButton {
  horizontal-align: left;
}

.sideStackLayout {
  margin: 0;
}

.sideTitleStackLayout {
  background-color: #3f51b5;
  color: #fff;
  vertical-align: center;
}

.sideLabel {
}

.sideLightGrayLabel {
  background-color: lightgray;
} */

.nomargin {
  margin: 0px;
  padding: 0px;
}

.sideNavHeader{
  color: #fff;
  margin: 0px;
  width: 100%;
  vertical-align: center;
  text-align: center;
}

.sideStackLayout Button {
  width: 100%;
  margin: 0px;
}

.primary {
  background-color: #3f51b5;
}
.white {
  background-color: #fff;
}