<Page xmlns="http://schemas.nativescript.org/tns.xsd" loaded="pageLoaded">
  <ActionBar style="padding-top: 50px;" title="PortalCMS"></ActionBar> 
  <!-- <RadSideDrawer class="nomargin">
    <GridLayout tkDrawerContent rows="56, *" class="primary">
        <StackLayout height="50" class="sideNavHeader nomargin">
            <Label class="nomargin" text="Navigation Menu"></Label>
        </StackLayout>
        <ScrollView row="1" class="white">
            <StackLayout class="sideStackLayout">
              <Button text="Profile" [nsRouterLink]="['/user/profile/view']"></Button>  
                <Button text="User panel" [nsRouterLink]="['/user/dashboard']"></Button>  
                <Button text="Rich text" [nsRouterLink]="['/text']"></Button>              
                <Button text="Show Blogs" [nsRouterLink]="['/module/B']"></Button>
                [nsRouterLink]="['/logout']"
                <Button text="Sign out" (tap)="logout()"></Button>
                <Label text="Close Drawer" color="gray" padding="10" style="text-align: center" (tap)="onCloseDrawerTap()"></Label>
            </StackLayout>
        </ScrollView>
    </GridLayout>
    <StackLayout tkMainContent>
      <Button text="OPEN DRAWER" (tap)="openDrawer()" class="drawerContentButton"></Button>
    </StackLayout>
  </RadSideDrawer> -->

  <StackLayout>
    <Button text="Profile" [nsRouterLink]="['/user/profile/view']"></Button>  
    <Button text="User panel" [nsRouterLink]="['/user/dashboard']"></Button>  
    <Button text="Rich text" [nsRouterLink]="['/text']"></Button>              
    <!-- <Button text="Show Blogs" [nsRouterLink]="['/module/B']"></Button>
    [nsRouterLink]="['/logout']" -->
    <Button text="Sign out" (tap)="logout()"></Button>
    
    <ScrollView orientation="vertical">
      <StackLayout orientation="vertical">
        <widgets position=1,1></widgets>
      </StackLayout>
    </ScrollView>
  </StackLayout>
</Page>

<!-- xmlns:sd="nativescript-ui-sidedrawer" -->