<mat-card>
  <mat-card-header>
    <mat-card-title>Activation</mat-card-title>
  </mat-card-header>

  <mat-card-content>
      <form [formGroup]="activationForm" (ngSubmit)="onSubmit()">
          <span> {{ error }} </span>
          <div class="form-group">
              <mat-form-field class="example-full-width">
                  <input matInput placeholder="Activation code" type="text" formControlName="activationcode" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.acticvationcode.errors }" />
                  <div *ngIf="submitted && f.activationcode.errors" class="invalid-feedback">
                      <div *ngIf="f.activationcode.errors.required">Activation code</div>
                  </div>
              </mat-form-field>
          </div>
          <button mat-raised-button color="primary">Activate</button>
      </form>
  </mat-card-content>
</mat-card>