<ActionBar title="Login"></ActionBar>
<StackLayout verticalAlignment="center">
    <Label text="{{ error }}"></Label>
    <Label text="Sign in" class="h2 text-center"></Label>
    <StackLayout class="form">
        <StackLayout class="input-field">
            <Label class="label" text="Activation code:"></Label>
            <TextField [(ngModel)]="activationCode" class="input input-border" autocorrect="false" autocapitalizationType="none"></TextField>
        </StackLayout>
        <StackLayout class="input-field">
            <Button text="Activate" (tap)="onSubmit()" class="btn btn-primary btn-active w-full"></Button>
        </StackLayout>
    </StackLayout>
</StackLayout>