<h4>My Files</h4>
<mat-divider></mat-divider>
<div *ngIf="loadingMyFiles">Loading...</div>
<mat-nav-list *ngIf="myFiles">
  <mat-list-item *ngFor="let file of myFiles">
    <!-- [routerLink]="['/', team.teamid, 'team']" -->
    <a matLine>
      <mat-icon>file</mat-icon>
      <span class="link-caption">{{ file.name }}</span>
    </a>
  </mat-list-item>
</mat-nav-list>