<div *ngIf="loadingProfile">Loading...</div>
<div *ngIf="profile">
  <h1>{{profile.full_name}}</h1>

  <div *ngFor="let item of profile | keyvalue">
    {{item.key}}:{{item.value}}
  </div>
</div>
<div>
  <h4>Member of</h4>
  <mat-divider></mat-divider>
  <div *ngIf="loadingTeams">Loading...</div>
  <mat-nav-list *ngIf="teams">
    <mat-list-item *ngFor="let team of teams">
      <a matLine [routerLink]="['/', team.teamid, 'team']" >
        <mat-icon>group</mat-icon>
        <span class="link-caption">{{ team.name }}</span>
      </a>
    </mat-list-item>
  </mat-nav-list>
</div>