<ScrollView>
  <StackLayout>
    <StackLayout *ngIf="profile">
      <Label class="h2" text="{{profile.full_name}}"></Label>
      <Label *ngFor="let item of profile | keyvalue" text="{{item.key}}:{{item.value}}"></Label>
    </StackLayout>
    <StackLayout *ngIf="teams">
      <Label class="h3" text="Member of" textWrap="true"></Label>
      <Button *ngFor="let team of teams" [nsRouterLink]="['/', team.teamid, 'team']" text="{{ team.name }}" class="btn btn-primary"></Button>
    </StackLayout>
  </StackLayout>
</ScrollView>