<div>
  <div class="tileGroup">
    <div class="tileGroupHeader">
      <h5>Portal</h5>
    </div>
    <div class="tileGroupContent">
      
      <div class="appTile pull-left">
        <a [routerLink]="['#']">
          <span class="appTileImg img-polaroid"><mat-icon>build</mat-icon></span>
          <span class="appTileTitle">Manage portal</span>
        </a>
      </div>

      <div class="appTile pull-left">
        <a [routerLink]="['#']">
          <span class="appTileImg img-polaroid"><mat-icon>poll</mat-icon></span>
          <span class="appTileTitle">Manage polls</span>
        </a>
      </div>

      <div class="appTile pull-left">
        <a [routerLink]="['/portal/widget/manage']">
          <span class="appTileImg img-polaroid"><mat-icon>developer_board</mat-icon></span>
          <span class="appTileTitle">Manage widgets</span>
        </a>
      </div>

      <div class="appTile pull-left">
        <a [routerLink]="['#']">
          <span class="appTileImg img-polaroid"><mat-icon>assignment</mat-icon></span>
          <span class="appTileTitle">Manage forms</span>
        </a>
      </div>

      <div class="appTile pull-left">
        <a [routerLink]="['#']">
          <span class="appTileImg img-polaroid"><mat-icon>settings_applications</mat-icon></span>
          <span class="appTileTitle">Manage profiles</span>
        </a>
      </div>

      <div class="appTile pull-left">
        <a [routerLink]="['#']">
          <span class="appTileImg img-polaroid"><mat-icon>format_paint</mat-icon></span>
          <span class="appTileTitle">Manage portal resources</span>
        </a>
      </div>

      <div class="appTile pull-left">
        <a [routerLink]="['#']">
          <span class="appTileImg img-polaroid"><mat-icon>chrome_reader_mode</mat-icon></span>
          <span class="appTileTitle">Manage digest</span>
        </a>
      </div>


      <div class="appTile pull-left">
        <a [routerLink]="['/portal/article/list']">
          <span class="appTileImg img-polaroid"><mat-icon>library_books</mat-icon></span>
          <span class="appTileTitle">Manage articles</span>
        </a>
      </div>

      <div class="appTile pull-left">
        <a [routerLink]="['#']">
          <span class="appTileImg img-polaroid"><mat-icon>label</mat-icon></span>
          <span class="appTileTitle">Manage tags</span>
        </a>
      </div>

      <div class="appTile pull-left">
        <a [routerLink]="['#']">
          <span class="appTileImg img-polaroid"><mat-icon>date_range</mat-icon></span>
          <span class="appTileTitle">Manage agenda</span>
        </a>
      </div>

      <div class="appTile pull-left">
        <a [routerLink]="['#']">
          <span class="appTileImg img-polaroid"><mat-icon>search</mat-icon></span>
          <span class="appTileTitle">Manage solr search</span>
        </a>
      </div>

      <div class="appTile pull-left">
        <a [routerLink]="['#']">
          <span class="appTileImg img-polaroid"><mat-icon>assessment</mat-icon></span>
          <span class="appTileTitle">Statistics</span>
        </a>
      </div>

      <div class="appTile pull-left">
        <a [routerLink]="['#']">
          <span class="appTileImg img-polaroid"><mat-icon>description</mat-icon></span>
          <span class="appTileTitle">Manage task description</span>
        </a>
      </div>
      
    </div>
  </div>
  <div class="clear"></div>
  <mat-divider></mat-divider>
  <div class="tileGroup">
    <div class="tileGroupHeader">
      <h5>Teams</h5>
    </div>
    <div class="tileGroupContent">

      <div class="appTile pull-left">
        <a [routerLink]="['#']">
          <span class="appTileImg img-polaroid"><mat-icon>group</mat-icon></span>
          <span class="appTileTitle">Manage teams</span>
        </a>
      </div>

    </div>
  </div>
  <div class="clear"></div>
  <mat-divider></mat-divider>
  <div class="tileGroup">
    <div class="tileGroupHeader">
      <h5>Users</h5>
    </div>
    <div class="tileGroupContent">

      <div class="appTile pull-left">
        <a [routerLink]="['#']">
          <span class="appTileImg img-polaroid"><mat-icon>person</mat-icon></span>
          <span class="appTileTitle">Manage users</span>
        </a>
      </div>

      <div class="appTile pull-left">
        <a [routerLink]="['#']">
          <span class="appTileImg img-polaroid"><mat-icon>sms</mat-icon></span>
          <span class="appTileTitle">Send SMS</span>
        </a>
      </div>

      <div class="appTile pull-left">
        <a [routerLink]="['#']">
          <span class="appTileImg img-polaroid"><mat-icon>mail</mat-icon></span>
          <span class="appTileTitle">Send email</span>
        </a>
      </div>

    </div>
  </div>
  <div class="clear"></div>
</div>