<Tabs selectedIndex="0">
    <TabStrip>
        <TabStripItem>
            <Label text="Properties"></Label>
        </TabStripItem>
        <TabStripItem>
            <Label text="Summary"></Label>
        </TabStripItem>
        <TabStripItem>
            <Label text="Body"></Label>
        </TabStripItem>
    </TabStrip>

    <TabContentItem>
        <GridLayout rows="auto, auto" columns="auto, auto">
            <Label row="0" text="Properties"></Label>
            <Button row="1" col="0" text="Save"></Button>
            <Button row="1" col="1" text="Cancel"></Button>
        </GridLayout>
    </TabContentItem>
    <TabContentItem>
        <GridLayout>
            <Label text="Summary"></Label>
        </GridLayout>
    </TabContentItem>
    <TabContentItem>
        <GridLayout rows="*, 70">
            <StackLayout row="0" col="0" backgroundColor="rgba(64, 153, 255, 0.6)">
                <Label *ngIf="loadingArticle" class="fa" color="#FFFFFF" text="Loading editor..."></Label>
                <WebView height="500" #webView color="#666666"></WebView>
            </StackLayout>
            <GridLayout row="1" rows="auto, auto" columns="auto, auto">
                <Button row="1" col="0"  (tap)="onSubmit()" text="Save"></Button>
                <Button row="1" col="1" text="Cancel"></Button>
            </GridLayout>
        </GridLayout>
    </TabContentItem>
</Tabs>