<div *ngIf="article">
  <div *ngIf="angForm">
    <form [formGroup]="angForm" (ngSubmit)="save()">
      <mat-tab-group dynamicHeight>
        <mat-tab label="Properties">
          <div class="">
            <mat-form-field>
              <mat-label>Title</mat-label>
                <input matInput type = "text" 
                name = "title" 
                placeholder = "title" 
                formControlName="title" 
                #title>
              </mat-form-field>
            <br/>

            <mat-form-field>
              <mat-label>Publication date</mat-label>
              <input type="text" matInput name="date_published" [ngxMatDatetimePicker]="picker_date_published" placeholder="Choose a date" formControlName="date_published" #date_published >
              <mat-datepicker-toggle matSuffix [for]="picker_date_published"></mat-datepicker-toggle>
              <ngx-mat-datetime-picker #picker_date_published></ngx-mat-datetime-picker>
            </mat-form-field>
            <br />
    
            <mat-form-field>
              <mat-label>Expiration date</mat-label>
              <input matInput name="date_expired" [ngxMatDatetimePicker]="picker_date_expired" placeholder="Choose a date" formControlName="date_expired" #date_expired >
              <mat-datepicker-toggle matSuffix [for]="picker_date_expired"></mat-datepicker-toggle>
              <ngx-mat-datetime-picker #picker_date_expired></ngx-mat-datetime-picker>
            </mat-form-field>
            <br />
          </div>
        </mat-tab>
        <mat-tab label="Summary">
          <div class="">
            <mat-form-field>
              <mat-label>Summary</mat-label>
              <textarea matInput name = "summary" 
              id="summary"
              placeholder = "summary" 
              formControlName="summary" 
              #summary></textarea>
            </mat-form-field>
          </div>
        </mat-tab>
        <mat-tab label="Body">
          <div class="">
            <angular-editor name="tocus" formControlName="tocus" #tocus [config]="editorConfig"></angular-editor>
          </div>
        </mat-tab>
      </mat-tab-group>
      <button mat-raised-button color="primary" type="submit">Submit</button>
    </form>
  </div>
</div>