<div *ngIf="loadingHome">Loading...</div>
<div *ngIf="team">
  <h1>{{ team.name }}</h1>
  <div [innerHTML]="team.message"></div>

  <h4>Members</h4>
  <div *ngIf="loadingMembers">Loading...</div>
  <mat-nav-list *ngIf="teamMembers">
    <mat-list-item *ngFor="let user of teamMembers">
      <a matLine [routerLink]="['/user', user.id, 'profile', 'view']" >
        <mat-icon>person</mat-icon>
        <span class="link-caption">{{ user.full_name }}</span>
      </a>
    </mat-list-item>
  </mat-nav-list>
  <a [routerLink]="['/', team.teamid, 'team', 'members']" >More members </a>

  <h4>Latest news</h4>
  <div *ngIf="loadingArticles">Loading...</div>
  <div *ngIf="teamArticles">
    <div *ngFor="let article of teamArticles; let i=index">
      <ul *ngIf="5>i">
        <li>
          <a [routerLink]="['/', team.teamid, 'news', article.id]" >{{ article.title }}</a>
            Views: {{ article.view_count }} - Comments: {{ article.comments.length }} - Date: {{ article.date_published | date }} 
        </li>
      </ul>
    </div>
    <a [routerLink]="['/', team.teamid, 'news']" >All news </a>
  </div>

  <h4>Team tools</h4>
  <div *ngIf="teamAdministrator">
    
  </div>
  
</div>