<ScrollView orientation="vertical">
  <GridLayout rows="auto, auto, auto, auto">
    <StackLayout row="0" *ngIf="loadingHome">
      <Label text="Loading..." textWrap="true"></Label>
    </StackLayout>
    <StackLayout row="1" *ngIf="team">
      <Label class="h2" text="{{team.name}}" textWrap="true"></Label>
      <HtmlView html="{{ team.message }}"></HtmlView>
    </StackLayout>
    <StackLayout row="2" *ngIf="teamMembers">
      <Label class="h3" text="Team members" textWrap="true"></Label>
      <Button *ngFor="let user of teamMembers" [nsRouterLink]="['/user', user.id, 'profile', 'view']" text="{{ user.full_name }}" class="btn btn-primary"></Button>
    </StackLayout>
    <StackLayout row="3" *ngIf=teamArticles>
      <Label class="h3" text="Team news" textWrap="true"></Label>
      <Button *ngFor="let article of teamArticles" [nsRouterLink]="['/', team.teamid, 'news', article.id]" text="{{ article.title }}" class="btn btn-primary"></Button>
    </StackLayout>
  </GridLayout>
</ScrollView>