<!-- <div class="col-mat-6 offset-mat-3 mt-5">
  <div class="alert alert-info">
      Username: jwr<br />
      Password: qwer1234
  </div>
  <div class="card">
      <h4 class="card-header">PortalCMS Login</h4>
      <div class="card-body">
          <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
              <div class="form-group">
                  <label for="username">Username</label>
                  <input type="text" formControlName="username" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.username.errors }" />
                  <div *ngIf="submitted && f.username.errors" class="invalid-feedback">
                      <div *ngIf="f.username.errors.required">Username is required</div>
                  </div>
              </div>
              <div class="form-group">
                  <label for="password">Password</label>
                  <input type="password" formControlName="password" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />
                  <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                      <div *ngIf="f.password.errors.required">Password is required</div>
                  </div>
              </div>
              <button [disabled]="loading" class="btn btn-primary">
                  <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                  Login
              </button>
              <div *ngIf="error" class="alert alert-danger mt-3 mb-0">{{error}}</div>
          </form>
      </div>
  </div>
</div> -->

<!-- 
<mat-card class="login-card">
    <mat-card-header>
      <mat-card-title>Sign in</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
            <mat-form-field appearance="fill">
                <mat-label>Username</mat-label>
                <input formControlName="username" formControlName="password" matInput>
            </mat-form-field>
            <br>
            <mat-form-field appearance="fill">
                <mat-label>Password</mat-label>
                <input formControlName="password" type="password" matInput [type]="password">
            </mat-form-field>
            <br>
            <button [disabled]="loading" class="btn btn-primary">
                <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                Sign in
            </button>
        </form>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button>Forgot your password?</button>
      <button mat-button>Forgot your username?</button>
    </mat-card-actions>
  </mat-card>
  
 -->

<mat-card class="login-card">
    <mat-card-header>
      <mat-card-title>Sign in</mat-card-title>
    </mat-card-header>
 
    <mat-card-content>
        <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
            <span> {{ error.message }} </span>
            <div class="form-group">
                <mat-form-field class="example-full-width">
                    <input matInput placeholder="Username" type="text" formControlName="username" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.username.errors }" />
                    <div *ngIf="submitted && f.username.errors" class="invalid-feedback">
                        <div *ngIf="f.username.errors.required">Username is required</div>
                    </div>
                </mat-form-field>
            </div>
            <br >
            <div class="form-group">
                <mat-form-field class="example-full-width">
                    <!-- <input matInput placeholder="Password" [(ngModel)]="password" type="password" name="password" required> -->
                    <input matInput placeholder="Password" type="password" formControlName="password" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />
                    <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                        <div *ngIf="f.password.errors.required">Password is required</div>
                    </div>
                </mat-form-field>
            </div>
            <button mat-raised-button color="primary">Login</button>
        </form>
    </mat-card-content>
 
    <mat-card-actions>
        <button mat-button>Forgot your password?</button>
        <button mat-button>Forgot your username?</button>
    </mat-card-actions>
</mat-card>