<ActionBar title="Login"></ActionBar>
<StackLayout verticalAlignment="center">
    <Label text="{{ error.message }}"></Label>
    <Label text="Sign in" class="h2 text-center"></Label>
    <StackLayout class="form">
        <StackLayout class="input-field">
            <Label class="label" text="Username:"></Label>
            <TextField [(ngModel)]="username" class="input input-border" autocorrect="false" autocapitalizationType="none"></TextField>
        </StackLayout>
        <StackLayout class="input-field">
            <Label class="label" text="Password:"></Label>
            <TextField [(ngModel)]="password" class="input input-border" secure="true" autocorrect="false" autocapitalizationType="none"></TextField>
        </StackLayout>
        <StackLayout class="input-field">
            <Button text="Login" (tap)="onSubmit()" class="btn btn-primary btn-active w-full"></Button>
        </StackLayout>
    </StackLayout>
</StackLayout>