<div class="mat-elevation-z8">
  <table mat-table [dataSource]="dataSource" matSort>
    <ng-container matColumnDef="title">
      <th mat-header-cell mat-sort-header *matHeaderCellDef> Title </th>
      <td mat-cell *matCellDef="let element">
        <a [routerLink]="['/', element.category.team_id, 'news', element.id]" >{{ element.title }}</a>
      </td>
    </ng-container>

    <ng-container matColumnDef="date_published">
      <th mat-header-cell mat-sort-header disabled *matHeaderCellDef> Publication date </th>
      <td mat-cell *matCellDef="let element">
        {{ element.date_published }}
      </td>
    </ng-container>

    <ng-container matColumnDef="date_expired">
      <th mat-header-cell mat-sort-header disabled *matHeaderCellDef> Expiration date </th>
      <td mat-cell *matCellDef="let element">
        {{ element.date_expired }}
      </td>
    </ng-container>

    <ng-container matColumnDef="category">
      <th mat-header-cell mat-sort-header *matHeaderCellDef> Category </th>
      <td mat-cell *matCellDef="let element">
        {{ element.category.name }}
      </td>
    </ng-container>

    <ng-container matColumnDef="id">
      <th mat-header-cell mat-sort-header disabled *matHeaderCellDef> Options </th>
      <td mat-cell *matCellDef="let element">
        <a mat-button [routerLink]="['/', 'portal', 'article', 'edit', element.id]" >
          <i class="material-icons">edit</i>
        </a>
      </td>
    </ng-container>
    
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  <!-- <mat-paginator [pageSizeOptions]="pageSizeOptions"></mat-paginator> -->
  <mat-paginator [pageSizeOptions]="[10, 25, 50]" showFirstLastButtons></mat-paginator>
</div>
<button mat-fab color="primary">+</button>