<!-- <ScrollView orientation="vertical">
  <StackLayout>
    <Label class="h3" text="Articles" textWrap="true"></Label>
    <Button *ngFor="let article of teamNewsArticles" text="{{ article.title }}" class="btn btn-primary"></Button>
  </StackLayout>
</ScrollView> -->

<ListView [items]="teamNewsArticles">
  <ng-template let-item="item" >    
    <GridLayout rows="auto, auto, auto">
      <Label class="h2" row="0" [text]="item.title" ></Label>
      <Label row="1" [text]="item.summary" ></Label>
      <Label row="2" [text]="item.category.id" ></Label>
      <Button row="3" [nsRouterLink]="['/', 'portal', 'article', 'edit', item.id]" text="edit"></Button>
    </GridLayout>              
      <!-- <StackLayout orientation="vertical">

      </StackLayout>                  -->
  </ng-template>
</ListView>
<!-- 
<GridLayout tkExampleTitle tkToggleNavButton>
  <RadListView [items]="teamNewsArticles">
      <ng-template tkListItemTemplate let-item="item">
          <GridLayout class="listItemTemplateGrid">
              <!-- <Image *tkIfIOS [src]="item.image" stretch="aspectFill"></Image> -->
              <!-- <FrescoDrawee *tkIfAndroid horizontalAlignment="stretch" height="250" [imageUri]="item.image" verticalAlignment="top"></FrescoDrawee> -->
              <!-- <GridLayout verticalAlignment="bottom">
                  <StackLayout class="labelsStackLayout">
                      <Label [text]="item.title" textWrap="true"></Label>
                      <!-- <Label [text]="item.name"></Label> -->
                  <<!--</StackLayout>
              </GridLayout>
          </GridLayout>
      </ng-template> -->

      <!-- >> angular-listview-item-layouts-grid -->
      <!-- <ListViewGridLayout tkListViewLayout scrollDirection="Vertical" ios:itemHeight="200" spanCount="2"></ListViewGridLayout> -->
      <!-- << angular-listview-item-layouts-grid -->
  <!--</RadListView>
</GridLayout> -->