<ScrollView>
  <StackLayout *ngIf="article">
    <StackLayout>
      <Label class="h2" text="{{article.title}}"></Label>
      <HtmlView html="{{ article.tocus }}"></HtmlView>
    </StackLayout>
    <StackLayout *ngIf="article.comments">
      <Label class="h3" text="Comments" textWrap="true"></Label>
      <StackLayout *ngFor="let comment of article.comments">
        <Label *ngIf="comment" text="{{comment.value}}"></Label>
      </StackLayout>
    </StackLayout>
  </StackLayout>
</ScrollView>