<div *ngIf="loadingArticle">Loading...</div>
<div ng-else>
  <div *ngIf="article">
    <h1>{{article.title}}</h1>
    <div [innerHTML]="article.tocus"></div>
  
    <h2>Comments</h2>
    <div *ngIf="article.comments">
      <div *ngFor="let comment of article.comments">
        {{comment.value}}
      </div>
    </div>
  </div>
</div>