<mat-toolbar *ngIf="nav.visible" color="primary">
  <mat-toolbar-row>
    <a mat-button routerLink="/">PortalCMS</a>
    <span class="example-spacer"></span>

    <a mat-button [routerLink]="['/user/profile/view']" routerLinkActive="mat-accent">
      <mat-icon>person</mat-icon> Profile
    </a>

    <a mat-button [routerLink]="['/user/dashboard/apps/']" routerLinkActive="mat-accent">
      <mat-icon>computer</mat-icon> User panel
    </a>

    <a mat-button (click)="logout()">
      <mat-icon>logout</mat-icon> Sign out
    </a>
  </mat-toolbar-row>
</mat-toolbar>