<div class="example-container">
  <h2>Add widget</h2>

  <div *ngIf="availableWidgets"
    cdkDropList
    id="widgets"
    #todoList="cdkDropList"
    [cdkDropListData]="availableWidgets"
    [cdkDropListConnectedTo]="[connectedTo]"
    class="example-list"
    (cdkDropListDropped)="drop($event)"
    cdkDropListSortingDisabled
    [cdkDropListEnterPredicate]="noReturnPredicate">
    <div class="widget-box" *ngFor="let item of availableWidgets" cdkDrag>{{item.name}}</div>
  </div>
</div>